@import "tailwindcss";

@import url(https://fonts.googleapis.com/css?family=Poppins:b);

:root {
  --background: #232323;
  --foreground: #ffffff;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: "Poppins", sans-serif;
  font-weight: 900;
}

/* Add a black background color to the top navigation */
#top-row {
  padding: 50px;
  overflow: hidden;
  display: flex;
  justify-content: space-around;
}

/* Style the links inside the navigation bar */
#top-row a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 6px;
  text-decoration: none;
  font-size: 30px;
}

/* Change the color of links on hover */
#top-row a:hover {
  background-color: #ddd;
}

.top-row-left {
  display: flex;
  gap: 20px;
}

#AD-button {
  border-style: solid;
  border-width: 5px;
  border-radius: 5px;
}

.left-buttons {
  padding-right: 10px;
  padding-left: 10px;
}

#contact-me {
  border-style: solid;
  border-width: 5px;
  border-radius: 5px;
}

.colored-rectangle {
  background-color: #663399;
  height: 35px;
  width: 100%
}

.section-title {
  font-size: 57px;
  max-width: fit-content;
  margin-left: auto;
  margin-right: auto;
  padding-top: 2%;
}

#AboutMe {
  max-width: fit-content;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

#featuredWork {
  background-color: #ffffff;
  color: #232323;
}

#Projects {
  background-color: #ffffff;
  color: #232323;
}

#my-name {
  color: #663399;
}

#about-me-text {
  font-size: 40px;
  margin-left: 10%;
  margin-right: 10%;
  margin-bottom: 2%;
}

.about-me-items {
  padding: 20px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

#featured-work-projects {
  padding-left: 100px;
  padding-right: 100px;
  padding-top: 30px;
  padding-bottom: 30px;
  display: flex;
  justify-content: space-around;
}

.single-featured-work {
  border-style: solid;
  border-width: 17px;
  border-radius: 50px;
  margin: 20px;
  transition: 0.5s;
}

.single-featured-work:hover {
  transform: scale(1.05);
  z-index: 5;
}

.featured-images {
  padding: 0px;
}

.featured-title {
  text-align: center;
  font-size: 30px;
  color: #663399
}

.featured-text {
  text-align: left;
  padding-left: 45px;
  font-size: 17px;
}